<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXWCYA5RcImRI5W4wxUKwa5NWdtoVtvRE</string>
	<key>GCM_SENDER_ID</key>
	<string>937758458478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pharmeasy</string>
	<key>PROJECT_ID</key>
	<string>pharmeasy-481a4</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmeasy-481a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937758458478:ios:68eb94968a1e523a44dc7f</string>
</dict>
</plist>